.cell {
  height: 50px;
  width: 50px;
  text-align: center;
  background-color: rgba(71, 71, 71, 0.222);
}

input {
  border: 1px solid black;
  transition: box-shadow 0.15s linear;
}
input:focus {
  outline: none;
  box-shadow: 0 0 20px rgba(181, 20, 181, 0.73);
  /* border-color:rgba(241, 4, 241, 0.73); */
}
button {
  margin-top: 7px;
}

.vsp {
  margin-bottom: 7px;
}
.hsp {
  margin-right: 7px;
}
